path.data: /var/lib/logstash
path.logs: /var/log/logstash
xpack.management.enabled: false
xpack.management.pipeline.id: ["main"]
xpack.management.elasticsearch.username: "{{ prep_username }}"
xpack.management.elasticsearch.password: "{{ prep_password }}"
xpack.management.elasticsearch.hosts: ["https://192.168.122.1:9200"]
